html,
body {
  background: #223e4a;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Lacquer", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-shadow: 1rem 1rem 1rem #000;
  position: absolute;
  font-size: 5rem;
  top: 5rem;
}

.batman {
  position: relative;
  width: 15rem;
  height: 17rem;
  background: #333333;
  margin-top: -3rem;
  z-index: 1;
  animation: move linear 1s infinite alternate;
}
.batman:after, .batman:before {
  content: "";
  position: absolute;
}
.batman:after {
  width: 9.5rem;
  height: 12.8rem;
  background: #222222;
  margin-top: 4rem;
  margin-left: 4.8rem;
  border-radius: 100% 50% 0% 0%;
}
.batman:before {
  width: 15rem;
  height: 8rem;
  background: #333333;
  margin-top: 17rem;
}
.batman .head {
  position: absolute;
  background: #223e4a;
  width: 8rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 1rem;
  transform: skewX(15deg);
}
.batman .head:after, .batman .head:before {
  content: "";
  position: absolute;
}
.batman .head:after {
  background: #223e4a;
  width: 7rem;
  height: 5rem;
  top: 0;
  left: 6rem;
  transform: skewX(-30deg);
}
.batman .head:before {
  background: #333;
  width: 13rem;
  z-index: 1;
  margin-top: 4rem;
  margin-left: -1rem;
  height: 2rem;
  border-radius: 100%;
  transform: skewX(-15deg);
  top: 0;
}
.batman .eye {
  position: absolute;
  width: 3.5rem;
  margin-top: 13rem;
  margin-left: 2rem;
  height: 2rem;
  z-index: 2;
  background: #777777;
}
.batman .left {
  border-radius: 10% 70% 20% 100%;
  transform: rotate(0deg);
}
.batman .right {
  margin-left: 9rem;
  border-radius: 70% 20% 100% 20%;
  transform: rotate(0deg);
}
.batman .mouth {
  position: absolute;
  background: #f4d2c9;
  width: 13rem;
  height: 5.5rem;
  margin-top: 16.8rem;
  margin-left: 1.1rem;
  border-radius: 0% 0% 100% 100%;
}
.batman .mouth:after, .batman .mouth:before {
  content: "";
  position: absolute;
}
.batman .mouth:before {
  width: 5rem;
  height: 1rem;
  background: #f4d2c9;
  border-top: 0.8rem solid #c6a59e;
  border-radius: 100%;
  margin-top: 2rem;
  margin-left: 3.8rem;
  animation: laugh ease 1s infinite alternate;
}
.batman .mouth:after {
  width: 2rem;
  height: 0.3rem;
  background: #c6a59e;
  margin-top: 3.5rem;
  border-radius: 0.3rem;
  margin-left: 5.4rem;
  z-index: 2;
}
.batman .body {
  position: absolute;
  width: 35rem;
  height: 15rem;
  margin-left: -9rem;
  border-radius: 100% 100% 0% 0%;
  background: #333333;
  margin-top: 23rem;
  animation: dance linear 1s infinite alternate;
}
.batman .body:after, .batman .body:before {
  content: "";
  position: absolute;
}
.batman .body:after {
  width: 32rem;
  height: 8rem;
  margin-top: 7rem;
  margin-left: 1.5rem;
  border-radius: 100% 100% 0% 0%;
  background: #656f71;
}
.batman .body:before {
  background: #333333;
  width: 20rem;
  height: 8rem;
  margin-top: 3rem;
  z-index: 1;
  margin-left: 7.5rem;
  border-radius: 100%;
}

@keyframes dance {
  0% {
    margin-left: -8.5rem;
  }
  50% {
    margin-left: -9rem;
  }
  100% {
    margin-left: -9.5rem;
  }
}
@keyframes move {
  0% {
    margin-top: -3rem;
  }
  50% {
    margin-top: -5rem;
  }
  100% {
    margin-top: -3rem;
  }
}
@keyframes laugh {
  0% {
    border-top: 0.8rem solid #c6a59e;
  }
  50% {
    border-top: 0.5rem solid #c6a59e;
  }
  100% {
    border-top: 0.8rem solid #c6a59e;
  }
}